// Place all the styles related to the admins/Sites controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.item-box{
	display: flex;
	flex-wrap : wrap;
}

.client-shop{
	text-align: center;
}
div>.item-box{
	flex: 5;
}

div>.item-box-child{
	padding-top: 10px;
	width: 210px;
	height: 340px;
	padding-left: 10px;
	padding-right: 10px;
	margin-right: 5px;
	margin-bottom: 10px;
	border: solid;
	border-color: #EEEEEE;
}

.item-introduction{
	width: 100px;
}

.search-boxes{
	margin-bottom: 10px;
}

.search-form{
	border-radius: 10px;
	width: 600px;
}

.search-box{
	display: flex;
}

.search{
	margin-right: 5px;
}
.title{
	margin-right: 400px;
	font-size: 25px;
}
.love-btn {
 width: 20px;
 height: 25px;
 font-size: 20px;
 color: #808080;
 margin-left: 150px;
 }

.unlove-btn {
 width: 20px;
 height: 25px;
 font-size: 20px;
 color: #e54747;
 margin-left: 145px;
 }

 #App{
 margin: 20px;
 }

 .fa-shopping-cart{
 margin-left: 10px;
 }

 .fa-envelope-open-text{
 margin-left: 10px;
 }

 .shopname{
 font-size: 30px;
 }

div>.shop-box{
	flex: 5;
	}

.shop-boxes{
	width: 210px;
	padding-top: 10px;
	height: 330px;
	padding-left: 10px;
	padding-right: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
	border: solid;
	border-color: #EEEEEE;
}