// Place all the styles related to the admins/Sites controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.item-box{
	display: flex;
	flex-wrap : wrap;
	background-color: lightyellow;
}

div>.item-box{
	flex: 5;
}

div>.item-box-child{
	padding-top: 10px;
	padding-left: 10px;
}

.item-introduction{
	width: 100px;
}

