<div class="container">
	<h1>注文一覧</h1>
	<table class="table table-hover table-inverse">
		<thead>

			<th>購入日時</th>
			<th>購入者</th>
			<th>注文個数</th>
			<th>注文ステータス</th>
		</thead>
		<tbody><tr>
			<% @orders.each do |order| %>
			<td><%= link_to order.created_at,clients_order_path(order) %></td>

			<td><% @customer = Customer.find(order.customer_id) %>
				<%= @customer.last_name + @customer.first_name %>
			</td>

			<td><% @order_amount= 0 %>
				<% order.order_details.each do |order_detail| %>
				<% @order_amount += order_detail.amount %>
				<% end %>
				<%= @order_aomount %>
			</td>

			<td><% if order.status == 1%>
				<div class="badge badge-pill badge-danger">
					入金待ち
				</div>
				<% elsif order.status == 2 %>
				<div class="badge badge-pill badge-warning">
					入金確認
				</div>
				<% elsif order.status == 3 %>
				<div class="badge badge-pill badge-info">
					制作中
				</div>
				<% elsif order.status == 4 %>
				<div class="badge badge-pill badge-secondary">
					発送準備中
				</div>
				<% else %>
				<div class="badge badge-pill badge-success">
					発送済
				</div>
				<% end %></td>
				<% end %>
			</tr>
		</tbody>
	</table>
</div>
