<p>ようこそゼロフードロスへ！</p>

<p>コロナ禍によりレストラン等に出荷をされていた農家さん、畜産家さんの食品が
出荷先に困っておられます。<br>
お野菜やお肉を消費者の皆様へ直接提供できるプラットフォームとして
当サイトを開設しました。</p>


<h3>おすすめ商品</h3>
<% @items.each do |item| %>
<%= attachment_image_tag item, :item_image,:fill, 50, 50, format: "jpeg" %>
<%= item.name %>
<%= item.introduction %>

<% end %>
