// Place all the styles related to the customers/Customer controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#reg{
	margin-bottom: 30px;
	border: solid;
	border-color: white white #EEEEEE white ;
}

#favorite-box{
	padding-bottom: 30px;
	margin-bottom: 30px;
	border: solid;
	border-color: white white #EEEEEE white ;
}

#favorite{
	padding-right: 20px;
}

#customer-box{
	padding: 20px;
}