/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";

.wrapper{
   position: relative;
   min-height: 100vh;
   padding-bottom: 80px;
   box-sizing: border-box;
 }

header{
   width: 100%;
   height: 80px;
   background-color: lightyellow;
   margin-bottom: 10px;
   }

 a{
 	color: #666666;
 }


 footer{
   margin-top: auto;
   color: #fff;
   background-color: #CEF9DC;
   position: absolute;
   bottom: 0;
   width: 100%;

   div{
     text-align: center;
     line-height: 80px;
   }
 }